{% extends 'base.html' %}

{% block content %}
<div>
  <h1>Halo, apa kabar?</h1>
  <form action="{% url 'story_6:index' %}" method="POST">
    <table>
      <tbody>
        {% csrf_token %}
        {{ form }}
        <tr>
          <td>
            <button type="submit">Simpan</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div>
  <h2>Daftar Status</h2>
  {% for status in all_status %}
  <div style="margin: 1rem 0">
    <div class="date" style="color: grey">{{ status.waktu_dibuat }}</div>
    <div class="text" style="font-size: 1.5rem">{{ status.status }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
